.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding: 1.5rem;
}

.boxSpan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.verde {
    color:green;
}

.gris {
    color: gray;
}

.rojo {
    color: red;
}

@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }
    
}