.columnHeaders {
  background-color: #1976d2;
  /* Cambia este valor al color deseado */
  color: #ffffff;
  /* Color del texto */
}

.evenRow {
  background-color: rgb(223, 223, 223);
  /* Color de fondo para filas pares */
}


.oddRow {
  background-color: #ffffff;

  /* Color de fondo para filas impares */
}
