/* Definir un fondo con degradado */
body {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)), url('../../assets/EquipoTrabajo.jpeg');
    background-size: cover;
  }
  
  /* Aplicar el filtro de fondo borroso */
  div {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5); /* Fallback para navegadores que no admiten backdrop-filter */
  }
  