.selectPeriodo {
    width: 150px;
    border: none;
    background-color: transparent;
}

.inputArchivo {
    /* width: 140; */
    display: none;
}

.deleteButton {
    padding: 0 .5rem;    
}

.deleteButton :hover {
    cursor: pointer;
}